@tailwind base;
@tailwind components;
@tailwind utilities;

/* 提示样式 */
.tooltip {
    position: absolute;
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: translate(calc(24px - 50%), -140px);
  }
  
  .has-tooltip:hover .tooltip {
    z-index: 50;
    opacity: 1;
    transition-delay: 200ms;
    transform: translate(calc(24px - 50%), -100px);
  }